.home-content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 60px 200px 60px 1fr;
    gap: 15px;
    grid-template-areas: 
        "major major major major major"
        "status-header status-header status-header status-header darvo-header"
        "earth cetus fortuna deimos darvo"
        "explore-header explore-header explore-header explore-header explore-header"
        "primary secondary warframe warframe warframe";
}

.earth {
    grid-area: earth;
}

.darvo-header {
    grid-area: darvo-header;
}

.banner {
    grid-area: major;
    width: 100vw;
    height: 100%;
    justify-self: center;
    background: var(--sec-bg-color)
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.status-header {
    grid-area: status-header;
}

.explore-header {
    grid-area: explore-header;
}

.section-header {
    font-family: var(--font-title);
    font-size: 1.8rem;
    color: white;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.cetus {
    grid-area: cetus;
}

.fortuna {
    grid-area: fortuna;
}

.deimos {
    grid-area: deimos;
}

.primary {
    grid-area: primary;
}

.secondary {
    grid-area: secondary;
}

.warframe {
    grid-area: warframe;
}