nav {
    width: 100%;
    height: 50px;
    background: var(--main-bg-color);
    border-bottom: 2px solid var(--main-fg-color);
    box-shadow: 0 2px 20px -10px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav > h1 {
    margin: 0 4rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
    color: black;
}

ul li {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: #ddd;
}

h1 a {
    color: white;
}

.wip {
    position: relative;
}

.wip:after {
    content: ' ';
    position: absolute;
    top: 55%;
    left: -10%;
    width: 120%;
    height: 2px;
    background: gold;
}

.wip:hover .info {
    visibility: visible;
}

.info {
    color: white;
    visibility: hidden;
    background: var(--main-bg-color);
    border-radius: 8px;
    text-align: center;
    padding: 5px;

    position: absolute;
    top: 100%;
    margin-left: -60px;
    width: max-content;
}